{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if user_profile.first_name and user_profile.last_name %}
{{ user_profile.first_name }} {{ user_profile.last_name }} |
{% endif %}
{{ user_profile.username }}
{% endblock %}

{% block content %}
<h1>{{ user_profile.username }}</h1>
<div class="container">
  <div class="row justify-content-md-left">
    <div class="col-sm-4">
      {% if user_profile.profile_picture %}
      <img src="{{ user_profile.profile_picture.url }}" class="card-img-top">
      {% else %}
      <img src="{% static 'blogfeed/images/default_profile_picture.png' %}" class="card-img-top">
      {% endif %}
    </div>
    <div class="col-sm-4">
      <h5>
        {% if user_profile.user.first_name %}
        {{ user_profile.first_name }}
        {% endif %}

        {% if user_profile.last_name %}
        {{ user_profile.last_name }}
        {% endif %}

        {{ user_profile.username }}
      </h5>
      <p class="card-text">
        {% if post.author.profile.bio %}
        <p class="card-text">
          {{ post.author.profile.bio }}
        </p>
        {% else %}
        <p class="card-text text-muted">
          No bio provided
        </p>
        {% endif %}
      </p>
    </div>
  </div>
</div>
</div>

{% endblock %}