{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<ul>
  <h1>{{ post.title }}</h1>
  <br/>  
  <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
     
  <p>by {{ post.author.first_name }} {{ post.author.last_name }} / {{ post.post_date }}</p>
  <hr>
  <p>{{ post.body | safe }}</p>
  <br/><br/>
  {% if user.is_authenticated %}
    <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Update</a>
    <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
  <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
</ul>
{% endblock %}