{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<ul>
  <h1>{{ post.title }}</h1>
  <br />
  <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>

  <p>by {{ post.author.first_name }} {{ post.author.last_name }} / {{ post.post_date }}</p>
  <hr>
  <p>{{ post.body | safe }}</p>
  <h3>{{ total_likes }} Likes</h3>
  <br /><br />

  {% if user.is_authenticated %}
  {% if user.id == post.author.id %}
  <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Update</a>
  <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
  <br /><br />
  {% endif %}
  <form action="{% url 'post_like' post.pk %}" method="POST">
    {% csrf_token %}
    <a type="submit" , name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</a>
  </form>
  {% endif %}
  <br /><br />
  <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
</ul>
{% endblock %}