{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<ul>
  <h1>{{ post.title }}</h1>
  <p>by {{ post.author.first_name }} {{ post.author.last_name }} </p>
  <hr>
  <p>{{ post.body }}</p>
  <br/><br/>
  <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Update</a>
  <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a> 
  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
</ul>
{% endblock %}