{% extends 'base.html' %}
{% block title %}
Password Chnage
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Password Chnage</h1>
<br />
<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <ul>
      <li>
        Your password can’t be too simliar to your other personal information.
      </li>
      <li>
        Your password must contain at least 8 characters.
      </li>
      <li>
        Your password can’t be a commonly used password.
      </li>
      <li>
        Your password can’t be entirely numeric.
      </li>
    </ul>

    <button class="btn btn-success">Save Password</button>
  </form>
</div>
{% else %}
You are not logged in
{% endif %}
{% endblock %}