{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<hr>

<a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
<p>by
  <a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
  / {{ post.date_added }}</p>

{% if post.header_image %}
<img src="{{ post.header_image.url }}" style="max-width: 50%;">
{% endif %}
<p>{{ post.body | safe }}</p>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div style="margin: 20px">
  <button href="{% url 'post_update' post.pk %}" class="btn btn-secondary">Edit Post</button>
  <button href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete Post</button>
</div>
{% endif %}
{% endif %}

<form action="{% url 'post_like' post.pk %}" method="POST">
  {% csrf_token %}
  {% if liked %}
  <span><b>{{ total_likes }} Likes</b></span>
  {% if user.is_authenticated %}
  <button type="submit" , name="post_id" value="{{ post.id }}" class="btn btn-danger">UnLike</button>
  {% endif %}

  {% else %}
  <span><b>{{ total_likes }} Likes</b></span>
  {% if user.is_authenticated %}
  <button type="submit" , name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
  {% endif %}
  {% endif %}
</form>


<div class="card mb-3"
  style="max-width: 540px; margin: 10px; padding: 5px; border-style: solid; border-radius: 10px; border-color: dimgrey;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if post.author.profile.profile_picture %}
      <a href="{% url 'profile_page' post.author.profile.id %}">
        <img src="{{ post.author.profile.profile_picture.url }}" class="img-fluid rounded-start">
      </a>
      {% else %}
      <a href="{% url 'profile_page' post.author.profile.id %}">
        <img src="{% static 'blogfeed/images/default_profile_picture.png' %}" class="img-fluid rounded-start">
      </a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{% url 'profile_page' post.author.profile.id %}">
          <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
        </a>
        <p class="card-text">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ post.author.username }} contacts
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="{% url 'profile_page' post.author.profile.id %}">Profile Page</a>
              </li>
              {% if post.author.profile.facebook_url %}
              <li>
                <a class="dropdown-item" href="{{ post.author.profile.facebook_url }}">Facebook</a>
              </li>
              {% endif %}
              {% if post.author.profile.instagram_url %}
              <li>
                <a class="dropdown-item" href="{{ post.author.profile.instagram_url }}"">Instagram</a>
                </li>
                {% endif %}
                {% if post.author.profile.twitter_url %}
                <li>
                  <a class=" dropdown-item" href="{{ post.author.profile.twitter_url }}">Twitter</a>
              </li>
              {% endif %}
              {% if post.author.profile.github_url %}
              <li>
                <a class="dropdown-item" href="{{ post.author.profile.github_url }}">Github</a>
              </li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
        </p>
        {% if post.author.profile.bio %}
        <p class="card-text">
          {{ post.author.profile.bio }}
        </p>
        {% else %}
        <p class="card-text text-muted">
          No bio provided
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div style="margin: 20px; padding: 10px;">
  <h3>Comment Section</h3>
  {% if post.comments.all %}
  {% for comment in post.comments.all %}
  <div style="margin: 10px; padding: 5px; border-style: solid; border-radius: 10px; border-color: dimgrey;">
    <p><b>{{ comment.name }}</b> - <b>{{ comment.date_added }}</b></p>
    <p>{{ comment.body }}</p>
  </div>
  {% endfor %}
  <div style="margin: 10px; padding: 5px;">
    <a href="{% url 'add_comment' post.pk %}" class="btn btn-primary">Comment</a>
  </div>
  {% endif %}
</div>

<div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
</div>
{% endblock %}